

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <a class="navbar-brand p-0 text-primary">
              <h1><img class="LogoImg" src="./assets/Logo.png">
             Aspire Overflow </h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
              <a href="#" class="nav-item nav-link ">Home</a>
              <a href="#" class="nav-item nav-link active">Articles</a>
              <a href="#" class="nav-item nav-link">Queries</a>
              <div class="dropdown">
                  <a href="#" class="nav-link dropdown-toggle dropbtn" data-bs-toggle="dropdown">My Profile</a>
                  <div class="dropdown-content">
                      <li><a href="#" class=" dropdown-toggle dropbtn" data-bs-toggle="dropdown">My Articles</a>
                        <div class="dropdown-Subcontent dropdown-Subcontent-left">
                          <li><a href="#" class="dropdown-item">My Articles</a></li>
                          <li><a href="#" class="dropdown-item">Create Articles</a></li>
                        </div>
                      </li>
                      <li><a href="#" class="dropdown-toggle dropbtn">My Queries</a>
                          <div class="dropdown-Subcontent dropdown-Subcontent-left">
                              <li><a href="#" class="dropdown-item">Raise Query</a></li>
                              <li><a href="#" class="dropdown-item">My Queries</a></li>
                          </div>
                      </li>
                      <li><a href="#" class="dropdown-item">View Profile</a></li>
                      <li><a href="#" class="dropdown-item">Logout</a></li>
                    </div>
              </div>
          </div>

      </div>
  </nav>
  <!-- Navbar End -->



<!-- Footer Start -->
<div id="footer" class="container-fluid text-light float-end" style="background: #051225; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 17px;">
  <div class="container">
      <div class="row g-0">
          <div class="col-md-4 text-center text-md-start">
              <p class="mb-md-0">&copy; <a class="text-white border-bottom">Aspire Overflow</a>. All Rights
                  Reserved.</p>
          </div>
          <div class="col-md-4 text-center text-md-middle">
              <p class="mb-0 "> <a class="text-white">Address: 1/D-1,SIPCOT IT
                      PARK,Siruseri,Chennai-603103</a><br>
              <p class="mb-0 "><i class=" fa fa-light fa-phone"></i><a class="text-white">
                      Phone:+91-4467404000</a><br>
              <p class="mb-0 "> <i class="fa fa-light fa-envelope"></i><a class="text-white">
                      Email:info-india@aspiresys.com</a><br>
          </div>
          <div class="col-md-4 text-center text-md-end">
              <p class="mb-0">Designed by <a class="text-white border-bottom">Team Aurora</a><br>

              </p>
          </div>
      </div>
  </div>
